<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Vision & Goals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Publications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
    </li>
</ul>